<!DOCTYPE html>
<html lang="en">
<%-include("partials/head")-%>

<body>
    <main>
        <%-include("partials/nav")-%>
        <h2>404 ERROR Page cannot be found</h2>
    </main>
  
    <%-include("partials/footer")-%>
</body>
</html>