<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head");-%>
<body>
    <%-include("partials/nav");-%>
    <main>
        <div class="home">
            <h2>welcome</h2>
            <img src="/offer.png" alt="">
            <div class="headers">
                <span>Signup And Never Miss Any Infor</span>
                <span> <a href="/blogs">Blogs</a></span>
            </div>
        </div>
    </main>
    <%-include("partials/footer");-%>
    <script src="/app.js"></script>
</body>
</html>